/* #header{
    background-color: rgb(217, 215, 215);
    height: 90px;
    text-align: center;

}

.cardCtn {
    display: flex;
}

.card-header{
    background-color: rgb(61, 132, 173);
    color: #fff;
}
.card-header p{  
    text-align: center;
    font-size: 25px;
}
.fa-coffee{
    font-size: 25px;
} */